<div class="jumbotron justify-content-around" *ngIf="book !=null">
  <h1 class="text-center">{{book.title}}</h1> <br>
  <p>{{book.category.name}}</p>
  <p>{{book.description}}</p>
  <p> Books on Stock: {{book.stock}}</p>
  <label class="label" style="padding-right: 5px">Price:</label><span style="color: #bb0000">{{book.price}} <i class="fa fa-money"></i></span>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus ut lacus a egestas. Praesent turpis
    erat,
    dictum vel aliquam aliquet, sollicitudin in velit. Vestibulum malesuada metus urna, varius fringilla mauris
    aliquam non. Ut mollis in diam ac blandit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus ut lacus a egestas. Praesent turpis
    erat,
    dictum vel aliquam aliquet, sollicitudin in velit. Vestibulum malesuada metus urna, varius fringilla mauris
    aliquam non. Ut mollis in diam ac blandit</p>

  <button class="btn btn-danger pull-right" (click)="deleteBook(book.id)">Delete book </button>


  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Edit Book Details
  </button>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <label>Title: </label> <input type="text" class="form-control" [(ngModel)]="title" [value]="book.title">
          <label>Description: </label><input type="text" class="form-control" [(ngModel)]="description" [value]="book.description">
          <label>Pages: </label><input type="number" class="form-control" [(ngModel)]="pages" [value]="book.pages">
          <label>Price: </label><input type="number"  class="form-control" [(ngModel)]="price" [value]="book.price">
          <label>Stock: </label><input type="number"  class="form-control" [(ngModel)]="stock" [value]="book.stock">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click)="editBook()">Edit Book</button>
        </div>
      </div>

    </div>
  </div>

</div>

<h2 class="pb-2 mt-4 mb-2 border-bottom text-center">More Info </h2>
<div class="row">
  <div class="col-md-6" *ngIf="book != null">
    <div class="jumbotron">
      <h2 (click)="openPublisher(book.publisher)">Publisher:  <span style="color: #00aced;">{{book.publisher.name}}</span></h2>
      <p>More Info:{{book.publisher.info}}</p>
      <a class="btn btn-primary" href="{{book.publisher.url}}">Visit {{book.publisher.name}}'s website</a>
    </div>
  </div>
  <div class="col-md-6" *ngIf="book != null">
    <div class="jumbotron">
      <h2 (click)="openAuthor(book.author)">Author: <span style="color: #00aced;">{{book.author.name}} </span></h2>
      <p>Description: {{book.author.description}}</p>
      <p>Country: {{book.author.country}}</p>
    </div>
  </div>
</div>
