<div class="jumbotron justify-content-around" *ngIf="book !=null">
  <h1 class="text-center">{{book.title}}</h1> <br>
  <p>{{book.category.name}}</p>
  <p>{{book.description}}</p>
  <p> Books on Stock: {{book.stock}}</p>
  <label class="label" style="padding-right: 5px">Price:</label><span style="color: #bb0000">{{book.price}} <i class="fa fa-money"></i></span>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus ut lacus a egestas. Praesent turpis
    erat,
    dictum vel aliquam aliquet, sollicitudin in velit. Vestibulum malesuada metus urna, varius fringilla mauris
    aliquam non. Ut mollis in diam ac blandit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus ut lacus a egestas. Praesent turpis
    erat,
    dictum vel aliquam aliquet, sollicitudin in velit. Vestibulum malesuada metus urna, varius fringilla mauris
    aliquam non. Ut mollis in diam ac blandit</p>

  <button class="btn btn-danger pull-right" (click)="deleteBook(book.id)">Delete book </button>


 <!-- &lt;!&ndash; Button to Open the Modal &ndash;&gt;
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
  </button>

  &lt;!&ndash; The Modal &ndash;&gt;
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        &lt;!&ndash; Modal Header &ndash;&gt;
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        &lt;!&ndash; Modal body &ndash;&gt;
        <div class="modal-body">
          <input type="text" [(ngModel)]="newTitle" [value]="book.title">
        </div>

        &lt;!&ndash; Modal footer &ndash;&gt;
        <div class="modal-footer">

          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="editBook(book.id, book)">Edit Book</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

        </div>

      </div>
    </div>
  </div>-->
</div>

<h2 class="pb-2 mt-4 mb-2 border-bottom text-center">More Info </h2>
<div class="row">
  <div class="col-md-6" *ngIf="book != null">
    <div class="jumbotron">
      <h2 (click)="openPublisher(book.publisher)">Publisher:  <span style="color: #00aced;">{{book.publisher.name}}</span></h2>
      <p>More Info:{{book.publisher.info}}</p>
      <a class="btn btn-primary" href="{{book.publisher.url}}">Visit {{book.publisher.name}}'s website</a>
    </div>
  </div>
  <div class="col-md-6" *ngIf="book != null">
    <div class="jumbotron">
      <h2 (click)="openAuthor(book.author)">Author: <span style="color: #00aced;">{{book.author.name}} </span></h2>
      <p>Description: {{book.author.description}}</p>
      <p>Country: {{book.author.country}}</p>
    </div>
  </div>
</div>

