<div class="jumbotron justify-content-around">
  <h1>Publisher {{publisher.name}}</h1>
  <label class="label">Informations: </label><p>{{publisher.info}}</p>
  <label class="label">Address: </label> <p>{{publisher.address}}</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus ut lacus a egestas. Praesent turpis
    erat,
    dictum vel aliquam aliquet, sollicitudin in velit. Vestibulum malesuada metus urna, varius fringilla mauris
    aliquam non. Ut mollis in diam ac blandit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus ut lacus a egestas. Praesent turpis
    erat,
    dictum vel aliquam aliquet, sollicitudin in velit. Vestibulum malesuada metus urna, varius fringilla mauris
    aliquam non. Ut mollis in diam ac blandit</p>
  <a class="btn btn-lg btn-primary" href="{{publisher.url}}" role="button">Visit {{publisher.name}}'s website</a>
</div>
<h2 class="pb-2 mt-4 mb-2 border-bottom text-center">Books of this Publisher: </h2>
<div class="row">
  <div class="col-md-3">
    <div class="jumbotron" *ngFor="let book of books ">
      <h2>{{book.title}}</h2>
      <p>{{book.description}}</p>
    </div>
  </div>
</div>
