<div class="row">
  <div class="col-md-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <h1 class="text-center">
      Welcome to eLibrary !
    </h1>

    <div id="mycarousel" class="carousel slide text-center" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="\assets\images\books-647_061516030643.jpg" alt="Los Angeles">
        </div>
        <div class="carousel-item">
          <img src="\assets\images\Interior_view_of_Stockholm_Public_Library.jpg" alt="Chicago">
        </div>
        <div class="carousel-item">
          <img src="\assets\images\The-Oberlausitzische-Library-Of-Science-Gorlitz-Germany.jpg" alt="New York">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#mycarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#mycarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>


  </div>
</div>
