<h3 class="text-center title">eLibrary <span style="color: red">ASNOM</span></h3>
<br>
<br>
<div class="row">
  <div class="col-md-6">
    <h4> About </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio elit, auctor a congue vel, interdum sit amet
      urna.
      Donec elementum dolor nulla, non placerat metus suscipit non. In in egestas nisl. Nunc tortor dolor, imperdiet eu
      viverra
      a, ultricies nec tellus. Morbi malesuada sit amet eros a scelerisque. Phasellus nisi felis, mattis sed blandit et,
      tincidunt
      id ligula. Etiam tellus dui, iaculis nec blandit tristique, tristique in nibh. Donec varius turpis vel ante
      aliquam, in
      suscipit nulla consequat. In id vulputate mi. Vivamus magna elit, tincidunt et ipsum id, semper lobortis magna.
      Phasellus iaculis
      est metus, eget consectetur mauris aliquet sit amet. Praesent varius viverra convallis. Integer ac mollis ligula.
      Suspendisse potenti
      In eu purus eu augue dapibus ultricies eu vitae sapien.
    </p>
  </div>
  <div class="col-md-6">

    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>
<br>
<h3 class="title text-center">Developers of this Site: </h3>
<br>
<div class="row">
  <div class="col-md-4">
    <img
      srcset="https://d39afr5wio5j08.cloudfront.net/assets-p/about/eliran-sapir@2x-0c3319c1ea8468e6b0052625adf5742b010a9900347a3ba399725012e8eb89ba.jpg 2x"
      class="img-circle img-fluid img-center"
      src="https://d39afr5wio5j08.cloudfront.net/assets-p/about/eliran-sapir-e310d7008a929a0862275db895ae08bb391f564f6ae23ecbf533fdd2a2d48cd5.jpg"
      alt="Eliran sapir">
    <h3 class="text-md-center">Tomislav Anastasovski</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus ut lacus a egestas. Praesent turpis erat,
      dictum vel aliquam aliquet, sollicitudin in velit. Vestibulum malesuada metus urna, varius fringilla mauris
      aliquam non. Ut mollis in diam ac blandit.</p>
  </div>
  <div class="col-md-4">
    <img
      srcset="https://d39afr5wio5j08.cloudfront.net/assets-p/about/eliran-sapir@2x-0c3319c1ea8468e6b0052625adf5742b010a9900347a3ba399725012e8eb89ba.jpg 2x"
      class="img-circle img-fluid img-center" style="width: 112px;"
      src="https://d39afr5wio5j08.cloudfront.net/assets-p/about/eliran-sapir-e310d7008a929a0862275db895ae08bb391f564f6ae23ecbf533fdd2a2d48cd5.jpg"
      alt="Eliran sapir">
    <h3 class="text-md-center">Marija Mirceska</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus ut lacus a egestas. Praesent turpis erat,
      dictum vel aliquam aliquet, sollicitudin in velit. Vestibulum malesuada metus urna, varius fringilla mauris
      aliquam non. Ut mollis in diam ac blandit.</p>
  </div>
  <div class="col-md-4">
    <img
      srcset="https://d39afr5wio5j08.cloudfront.net/assets-p/about/eliran-sapir@2x-0c3319c1ea8468e6b0052625adf5742b010a9900347a3ba399725012e8eb89ba.jpg 2x"
      class="img-circle img-fluid img-center" style="width: 112px;"
      src="https://d39afr5wio5j08.cloudfront.net/assets-p/about/eliran-sapir-e310d7008a929a0862275db895ae08bb391f564f6ae23ecbf533fdd2a2d48cd5.jpg"
      alt="Eliran sapir">
    <h3 class="text-md-center">Dejan Manceski</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus ut lacus a egestas. Praesent turpis erat,
      dictum vel aliquam aliquet, sollicitudin in velit. Vestibulum malesuada metus urna, varius fringilla mauris
      aliquam non. Ut mollis in diam ac blandit.</p>
  </div>
</div>
<br>
<h3>Contact <span class="pull-right" style="margin-right: 200px"> Social Medias</span></h3> <br>
<div class="row">
  <div class="col-md-6">

    <h5>Address</h5>
    <p> ул. Руѓер Бошковиќ 16, Пoштенски Фах 393,
      1000, Скопје, Р. Македонија</p> <br>
    <h5>Contact</h5>
    <p>contact@finki.ukim.mk </p> <br>

    <h5>Telephone</h5>
    <p>+38975523241</p>

  </div>
  <div class="col-md-6">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-youtube"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-snapchat-ghost"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-skype"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-vine"> </i>
        </a>
      </li>
    </ul>
  </div>
</div>








